:root {
  --bgSite: #d7d4ff;
  --buttonColor: #6c63ff;

  --white: #ffffff;
  --white300: #f9f9f9;

  --titleColor: #2b2b2b;
  --textColor: #555555;
  --fontFamilyTitle: "Merriweather", serif;
  --fontFamilyText: "Lato";
}

.header {
  height: 600px;
  background: var(--bgSite);
}

.header-top {
  margin-top: 140px;
}

h1 {
  font-family: var(--fontFamilyTitle);
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
}

h5 {
  font-family: var(--fontFamilyTitle);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: flex-end;

  color: var(--titleColor);
}

p {
  font-family: var(--fontFamilyText);
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  color: var(--textColor);
}

button {
  font-family: var(--fontFamilyText);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  width: 155px;
  height: 50px;
  left: 101px;
  top: 391px;

  background: var(--buttonColor);
  box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
  border-radius: 5px;
}

.button-submit {
  width: 100%;
  background: var(--buttonColor);
  box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
  border-radius: 5px;
}

#card-one {
  background-color: #ff6363;
  height: 180px;
}

#card-two {
  background-color: #63ecff;
  height: 180px;
}

#card-three {
  background-color: #f363ff;
  height: 180px;
}

#card-four {
  background-color: #63ff73;
  height: 180px;
}

#card-five {
  background-color: #ffdd63;
  height: 180px;
}

#card-six {
  background-color: #6663ff;
  height: 180px;
}

.div-card {
  margin-top: 80px;
}

.div-formulario {
  background: var(--bgSite);
  height: 500px;
  margin-top: 100px;
}

@media screen and (max-width: 1000px) {
  .header {
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .header-top {
    margin-top: 55px;
  }

  h1 {
    font-size: 30px;
  }

  p {
    font-size: 16px;
  }

  .img-fluid {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .div-card {
    margin-top: 60px;
  }

  .div-formulario {
    margin-top: 80px;
  }
}
